.disable-button.btn-secondary.disabled{
    background-color: #A8A8A8;
    border-color: #A8A8A8;
}

.btn-secondary:hover {
    background-color:#407D60;
    border-color:#407D60;  
}

.base-button{
    width: 296px;
    height: 40px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    border-radius: 6px;
    background-color:#407D60;
    border-color:#407D60;
}


